<div class="container center-align" id="about">
    <div class="row">
        <div class="col s12">
            <img class="responsive-img z-depth-2" id="about-pic" src="../img/audria-stork.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="header">About Us</h3>
            <p class="grey-text text-darken-3 lighten-3 welcome">Hi, I’m Audria. Owner and self taught baker of The Sweet Bean. I started making custom sugar cookies two years ago and my love for baking and making speciality treats for my friends and family has quickly grown into this amazing business. I am so excited to be serving Pekin and the surrounding areas and I look forward to seeing many of you at my storefront! Thank you for stopping by my website and for shopping small and local. Your support means the world to me.</p>
        </div>        
    </div>
</div>
