<div class="container admin">

  <div class="row">
    <div class="col s12">
          <h2 class="section-heading">Admin</h2>
    </div>
  </div>

  <div class="row sections" id="admin-form">

    <form class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <textarea id="cookie-text" class="materialize-textarea"></textarea>
            <label for="cookie-text">Cookie Set Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="cookie-keywords" class="materialize-textarea"></textarea>
            <label for="cookie-keywords">Keywords</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="cookie-description" class="materialize-textarea"></textarea>
            <label for="cookie-description">Description</label>
          </div>
        </div>

        <div class="row">
            <label>Choose File to Upload</label>
            <div class="file-field input-field">
              <div class="btn">
                  <span>Browse</span>
                  <input type="file" multiple />
              </div>              
              <div class="file-path-wrapper">
                  <input class="file-path validate" id="cookie-img" type="text" placeholder="Upload multiple files"/>
              </div>
            </div>    
        </div>

{{!-- OLD SUBMIT BUTTON CODE- CAN BE DELETED, LEFT IN FOR REFERENCE --}}
    {{!-- <form action="#">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" id="cookie-img" type="text">
        </div>
      </div>
    </form> --}}

        <div class="row">
          <div class="input-field col s12">
            <textarea id="cookie-category" class="materialize-textarea"></textarea>
            <label for="cookie-category">Primary Category</label>
          </div>
        </div>

        <div class="row">
          <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

    </form>
  </div>
</div>

