{{!-- CHECK BOOTSTRAP TAGS IN MATERIALIZE --}}

<div class="parallax-container">
  <div class="parallax"><img src="../img/parallax.jpg" alt="image text"></div>
</div>
<div class="section white center-align">
  <div class="row container">
    <h2 class="header">Welcome</h2>
    <p class="grey-text text-darken-3 lighten-3 welcome">Special cloth alert. You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. Don’t ever play yourself. They will try to close the door on you, just open it. How’s business? Boomin. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. They never said winning was easy. Some people can’t handle success, I can.</p>
    <br>
    <p class="grey-text text-darken-3 lighten-3">The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.</p>
    <br>
    <p class="grey-text text-darken-3 lighten-3">Give thanks to the most high. Don’t ever play yourself. Life is what you make it, so let’s make it. You smart, you loyal, you a genius. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Find peace, life is like a water fall, you’ve gotta flow. Every chance I get, I water the plants, Lion! Lion! Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
        <div class="slider">
            <ul class="slides">
                <li>
                  <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                  <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                  </div>
                </li>
                <li>
                  <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                  <div class="caption left-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                  </div>
                </li>
                <li>
                  <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                  <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                  </div>
                </li>
                <li>
                  <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                  <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                  </div>
                </li>
            </ul>
        </div>
    </div>                  
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });

  $(document).ready(function(){
    $('.slider').slider();
  });
</script>
