{{!-- CHECK BOOTSTRAP TAGS IN MATERIALIZE --}}

<div class="parallax-container">
 <div class="parallax"><img src="../img/audria-stork.jpg" alt="image text"></div>
</div>
<div class="section white center-align">
 <div class="row container">
   <h2 class="header">Welcome</h2>
   <p class="grey-text text-darken-3 lighten-3 welcome">About Me: Hi, I’m Audria. Owner and self taught baker of The Sweet Bean. I started making custom sugar cookies two years ago and my love for baking and making speciality treats for my friends and family has quickly grown into this amazing business. I am so excited to be serving Pekin and the surrounding areas and I look forward to seeing many of you at my storefront! Thank you for stopping by my website and for shopping small and local. Your support means the world to me.</p>
   <br>
 </div>
</div>

<div class="container">
   <div class="row">
     <div class="col s12" id="profile" > </div>
     <div class="col s4 m3 l2 modal-trigger" id="instagram-0"> </div>
     <div class="col s4 m3 l2 modal-trigger" id="instagram-1"> </div>
     <div class="col s4 m3 l2 modal-trigger" id="instagram-2"> </div>
     <div class="col s4 m3 l2 modal-trigger" id="instagram-3"> </div>
     <div class="col s4 m3 l2 modal-trigger" id="instagram-4"> </div>
     <div class="col s4 m3 l2 modal-trigger" id="instagram-5"> </div>
   </div>

   <p class="center-align">
     <a class="waves-effect waves-light btn-large" id="button" href="https://www.instagram.com/ashlund4/"><i class="fab fa-instagram"></i>  Follow us on Instagram </a>
   </p>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


<script>
 $(document).ready(function(){
   $('.parallax').parallax();
 });
 $(document).ready(function(){
   $('.slider').slider();
 });

$(document).ready(function(){
$.ajax({
   url: "/api/instagram",
   method: "GET",
 }).then(function(response) {
   var results=response.data
   var profile=results[0].user.profile_picture
   $("#profile").append($("<img/>").attr("src", profile).width(35));

   for (var i=0; i<6; i++) {
       var insta=results[i].images.thumbnail.url
       var test=results[10].id
       var link=results[i].link
       console.log(test)
       console.log(insta)

       $("#instagram-" + i).append($("<img/>").attr("src", insta));

   }

});
})
</script>