{{!-- CHECK BOOTSTRAP TAGS IN MATERIALIZE --}}

<div class="container">

  <div class="row">
    <div class="col s12">
          <h1 class="section-heading">Ordering Information</h1>
          <div class="grey-text text-darken-3 lighten-3 welcome">
          <p>On Friday, August 2nd, I will begin taking orders for October-December of 2019. On November 1, I will open up ordering for January 1-June 30th of 2020. On May 1, I will open up ordering for July 1-December 31st. Orders can be requested at any time during that window, not just on the first day, but please be advised that I typically book up fairly quickly.</p>
<p>As a one woman shop, I am only able to accept a certain amount of orders per week. Once I have reached that limit, I will be considered booked.</p>
<p>When inquiring about order placement, please send me a message through our contact us form.</p>
<p>Please do NOT call/text/Facebook message me to place an order. In order to keep track of my sales and better serve my customers, my ordering system will be done using email only at this time.
Please provide your name and the phone number or email address that you would like to be contacted at. 
Please include the products you would like, quantities, and all details for your order including names/colors/themes/details/etc.</p> 
<p>When placing your order please specify the date that you would like to PICK UP your cookies. No exceptions will be made for early pick-ups.</p> 
<p>Due to the nature of this business, and the fact that all orders are custom made, I will require a NON-REFUNDABLE deposit of 50% of your order total to secure your order. All deposits are required within 48 hours of invoice otherwise your order will be cancelled.</p>
<p><b><u>ALL SALES ARE FINAL AND THERE ARE NO RETURNS OR REFUNDS.</b></u></p>
</div>
<div class="grey-text text-darken-3 lighten-3 welcome">
<h2>Decorated Sugar Cookies Price List (October - December 2019)</h2>
<h3>Basic Decorated Sugar Cookies</h3>
<h4>Start at $32 a dozen</h4>
<p>All decorated cookies are vanilla almond cookies with vanilla royal icing. Cookies are 3-4” in size, and 3/8” thick. This pricing would be for basic sets without gold details, logos, characters, etc. Final quote will be given once all details are provided.</p>
<h3>Detailed/Character/Logo Decorated Sugar Cookies</h3>
<h4>Start at $34 a dozen</h4>
<p>All decorated cookies are vanilla almond cookies with vanilla royal icing. Cookies are 3-4” in size, and 3/8” thick. This pricing would include logos, characters, gold accents, or other intricate designs. Final quote will be given once all details are provided.</p>
<h3>Mini Sugar Cookies</h3>
<h4>Start at $12/dozen</h4>
<p>All decorated cookies are vanilla almond cookies with vanilla royal icing. Mini cookies are 1-2” in size and can be decorated to match colors/simple designs but cannot be detailed or have characters or logos on them. Final quote will be given once all details are provided.</p>
<h3>Sugar Cookie Bouquets</h3>
<h4>Start at $25/5 cookies</h4>
<p>All decorated cookies are vanilla almond cookies with vanilla royal icing. Cookie bouquets can be made for any occasion and include (5) 3-4” sugar cookies. Additional cookies can be added for $3 each.</p>
<p>*All cookies will be packed in bakery boxes.<br/>
*If you would like each of your cookies packaged, with a party favor ribbon, there will be an additional charge of $1/cookie.<br/>
*If you would like your cookies packaged in a simple clear heat sealed bag with no ribbon, there will be an additional charge of $0.50/cookie.</p>

<p>Allergy Disclaimer: At The Sweet Bean we make every attempt to identify ingredients that may cause an allergic reaction for those who have food allergies. However, there is always a risk of contamination because we use many products in our kitchen. Please be aware that we openly handle many ingredients including dairy, soy, eggs, wheat, nuts, and tree nuts.  Due to this, please be advised that our products should not be deemed as allergen free and are not labeled as such. At this time, we do not offer any gluten free, dairy free, or vegan free options.</p>
</div>
    </div>
  </div>
</div>
